@font-face {
    font-family: 'Lamoon-Regular';
    src: url('/Font/FC\ Lamoon\ Regular\ ver\ 1.00.ttf');
}
@font-face {
    font-family: 'Lamoon-Light';
    src: url('/Font/FC\ Lamoon\ Light\ ver\ 1.00.ttf');
}
@font-face {
    font-family: 'Lamoon-Bold';
    src: url('/Font/FC\ Lamoon\ Bold\ ver\ 1.00.ttf');
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Lamoon-Regular';
}

.title{
    font-family: 'Lamoon-Bold';
}